.bg-nav {
    z-index: 1;
    position: fixed;
    top: 0px;
    background-color: #fbff00;
    border: 3px solid black;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    .logo {
     margin-top: 0px;
     width: 70px;
     height: 70px;
     border: $bordes;
    }
}