#novedades {
    .text-center {
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
        border-bottom: 2.5px solid red;
    }
    .accordion {
        font-family: 'Kanit', sans-serif; 
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 150px;
        margin-left: 10px;
        margin-right: 10px;
         .img-precios {
           border: $bordes;
           margin-top: 10px;
           margin-bottom: 10px;   
           margin-left: 0px;
           margin-right: 0px;
           width: $ancho;
           height: $alto;
        }
    }
}