#redes {
    .text-center {
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
        border-bottom: 2.5px solid red;
    }
    .section-redes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .red {
            width: 200px;
            height: 200px;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
            transition: 1s ease;
        }
         & .red:hover {
            width: 250px;
            height: 250px;
         }
    }
    .formulario {
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 10px;
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
    }
}
